.zip filter=lfs diff=lfs merge=lfs -text
.rar filter=lfs diff=lfs merge=lfs -text
raw_data/us.zip filter=lfs diff=lfs merge=lfs -text
match_keys/us.zip filter=lfs diff=lfs merge=lfs -text
cleaned_data/us.zip filter=lfs diff=lfs merge=lfs -text
us.zip filter=lfs diff=lfs merge=lfs -text
NC_127439_dict_500.csv filter=lfs diff=lfs merge=lfs -text
dictionaries/results/us/NC_127439_dict_500.csv filter=lfs diff=lfs merge=lfs -text
match_keys/us/nc_matchkeys.zip filter=lfs diff=lfs merge=lfs -text
match_keys/us/nc_matchkeys-nr.zip filter=lfs diff=lfs merge=lfs -text
match_keys/us/nc_matchkeys-names-nr.zip filter=lfs diff=lfs merge=lfs -text
results/dictionary/baseline/baseline_nvr_439_500.csv filter=lfs diff=lfs merge=lfs -text
dictionaries/results/nvr_127439_dict_500.csv filter=lfs diff=lfs merge=lfs -text
results/dictionary/us/500/127439_nvr_500.csv filter=lfs diff=lfs merge=lfs -text
results/dictionary/us/1000/127439_nvr_1000.csv filter=lfs diff=lfs merge=lfs -text
results/dictionary/us/2000/127439_nvr_2000.csv filter=lfs diff=lfs merge=lfs -text
results/dictionary/us/500/12439_nvr_500.csv filter=lfs diff=lfs merge=lfs -text
